{% extends "accounting/base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block fa_balance_sheet %} active{% endblock fa_balance_sheet %}

{% block page-content %}
    <div class="header row">
        <div class="col-md-8 col-sm-12">
            <h3>Balance Sheet</h3>
        </div>
        <div class="col-md-4 col-sm-3 hidden-xs">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-3" style="margin-right:-.15rem">
                    <a class="btn btn-primary btn-sm font_black" href="#">
                        <i class="fa fa-arrow-circle-up"></i> DEPOSIT
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-default btn-sm font_black" href="#">
                        <i class="fa fa-arrow-circle-down"></i> WITHDRAW
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-default btn-sm font_black" href="#">
                        <i class="fa fa-arrow-circle-down"></i> WITHDRAW
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="well" style="margin-top: 0rem; margin-left: 1rem; min-height: 5rem; border: none; margin-bottom: 1.5rem;">
        <form class="form-inline">
          <div class="form-group" style="margin-right:1.5rem">
            <label for="exampleInputName2">Bank Account:</label>
            <select class="form-control input-sm">
                <option>All</option>
                <option>Barclays Bank</option>
                <option>Sidian Bank</option>
                <option>M-Pesa (#34077)</option>
                <option>M-Pesa (#34078)</option>
                <option>M-Pesa (#34079)</option>
                <option>Airtel (#AAS4009)</option>
            </select>
          </div>
          <div class="form-group" style="margin-right:1.5rem">
            <label for="exampleInputName2">Transaction Type:</label>
            <select class="form-control input-sm">
                <option>All</option>
                <option>Disbursement</option>
                <option>Repayment</option>
                <option>Deposit</option>
                <option>Withdrawal</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">From:</label>
            <input type="from" class="form-control input-sm">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">To:</label>
            <input type="to" class="form-control input-sm">
          </div>
          <button type="submit" class="btn btn-primary btn-sm font_semibold">
            <i class="fa fa-filter"></i> FILTER
          </button>
        </form>
    </div>
    <div class="col-lg-12 table-holder">
        <div class="table-cover">

            <table class="table table-hover balance-sheet">
                <thead>
                    <tr>
                        <th data-column="ledger_code">Ledger Code</th>
                        <th data-column="name">Name</th>
                        <th data-column="balance" style="text-align: right;">Balance (KES)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="font_extra_bold" style="text-transform: uppercase; font-size: 110%; color: #397D94;" colspan="4">Assets</td>
                    </tr>
                    {% for account in balance_sheet.assets.current_assets %}
                        <tr class="level{{ account.ledger_level}}">
                            <td class="font_semibold">{{ account.ledger_code }}</td>
                            <td class="font_normal">{{ account.name }}</td>
                            <td class="font_extra_bold" style="text-align: right;">
                                {{ account.balance|default:"0.0" }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr style="font-size: 15.5px;">
                        <td class="font_semibold" style="border-top-width: 3px;"></td>
                        <td class="font_extra_bold" style="border-top-width: 3px;">TOTAL ASSETS</td>
                        <td class="font_extra_bold" style=" border-top-width: 3px; text-align: right;"> 0.0 </td>
                    </tr>

                    <tr>
                        <td style="height: 2rem; border: none" colspan="3"></td>
                    </tr>
                    <tr>
                        <td class="font_extra_bold" style="text-transform: uppercase; font-size: 110%; color: #397D94;" colspan="4">Liabilities</td>
                    </tr>
                    {% for account in balance_sheet.liabilities.current_liabilities %}
                        <tr class="level{{ account.ledger_level }}">
                            <td class="font_semibold">{{ account.ledger_code }}</td>
                            <td class="font_normal">{{ account.name }}</td>
                            <td class="font_extra_bold" style="text-align: right;">
                                {{ account.balance|default:"0.0" }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr style="font-size: 15.5px;">
                        <td class="font_semibold" style="border-top-width: 3px;"></td>
                        <td class="font_extra_bold" style="border-top-width: 3px;">TOTAL LIABILITIES</td>
                        <td class="font_extra_bold" style=" border-top-width: 3px; text-align: right;"> 0.0 </td>
                    </tr>

                    <tr>
                        <td style="height: 2rem; border: none" colspan="3"></td>
                    </tr>
                    <tr>
                        <td class="font_extra_bold" style="text-transform: uppercase; font-size: 110%; color: #397D94;" colspan="4">Equity</td>
                    </tr>
                    {% for account in balance_sheet.equity %}
                        <tr class="level{{ account.ledger_level }}">
                            <td class="font_semibold"> {{ account.ledger_code }} </td>
                            <td class="font_normal">{{ account.name }}</td>
                            <td class="font_extra_bold" style="text-align: right;">
                                {{ account.balance|default:"0.0" }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr style="font-size: 15.5px;">
                        <td class="font_semibold" style="border-top-width: 2px;"></td>
                        <td class="font_extra_bold" style="border-top-width: 2px;">TOTAL EQUITY</td>
                        <td class="font_extra_bold" style=" border-top-width: 2px; text-align: right;"> 0.0 </td>
                    </tr>
                    <tr style="font-size: 15.5px;">
                        <td class="font_semibold" style="border-top-width: 2.5px;"></td>
                        <td class="font_extra_bold" style="border-top-width: 2.5px;">TOTAL EQUITY + LIABILITIES</td>
                        <td class="font_extra_bold" style=" border-top-width: 2.5px; text-align: right;"> 0.0 </td>
                    </tr>
                    <tr>
                        <td style="height: 2rem; border: none" colspan="3"></td>
                    </tr>
                    <tr style="font-size: 15.5px;">
                        <td class="font_semibold" style="border-top-width: 2.5px;"></td>
                        <td class="font_extra_bold" style="border-top-width: 2.5px;">TOTAL ASSETS - (EQUITY + LIABILITIES)</td>
                        <td class="font_extra_bold" style=" border-top-width: 2.5px; text-align: right;"> 0.0 </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock page-content %}
