{% extends "base.html" %}
{% load staticfiles %}

{% block page-title %} Financial Accounting {% endblock page-title %}

{% block extracss %}
  <link href="{% static "css/app/accounting/dashboard.css" %}" rel="stylesheet">
{% endblock extracss %}

{% block nav-menu-items %}
  <li><a href="{% url "home:dashboard" %}">Home</a></li>
  <li><a href="{% url "loans:dashboard" %}">Loans</a></li>
  <li><a href="{% url "crm:dashboard" %}">Clients</a></li>
  <li class="active"><a href="{% url "accounting:dashboard" %}">Accounting</a></li>
  <li><a href="{% url "risk:dashboard" %}">Risk &amp; Compliance</a></li>
  <li><a href="{% url "users:dashboard" %}">Users</a></li>
  <li><a href="{% url "users:my-profile" %}">My Profile</a></li>
{% endblock nav-menu-items %}

{% block menu-items %}
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon loan_accounts">
      </div>
      <div class="menu-label">accounts</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon loan_funds">
      </div>
      <div class="menu-label">loan funds</div>
    </div>
  </li>
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon loan_transactions">
      </div>
      <div class="menu-label">transactions</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon loan_products">
      </div>
      <div class="menu-label">loan products</div>
    </div>
  </li>
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon loan_accounting">
      </div>
      <div class="menu-label">accounting</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon loan_reports">
      </div>
      <div class="menu-label">reports</div>
    </div>
  </li>
{% endblock menu-items %}

{% block quick-actions %}
  <li class="active">
    <a href="#">add loan account</a>
  </li>
{% endblock quick-actions %}