{% extends "base.html" %}
{% load staticfiles %}

{% block page-title %} Financial Accounting {% endblock page-title %}

{% block menu-header %}Financial Accounting{% endblock menu-header %}

{% block extracss %}
  <link href="{% static "css/app/accounting/dashboard.css" %}" rel="stylesheet">
{% endblock extracss %}

{% block nav-menu-items %}
  <li><a href="{% url "home:dashboard" %}">Home</a></li>
  <li><a href="{% url "loans:dashboard" %}">Loans</a></li>
  <li><a href="{% url "crm:dashboard" %}">Clients</a></li>
  <li class="active"><a href="{% url "accounting:dashboard" %}">Accounting</a></li>
  <li><a href="{% url "risk:dashboard" %}">Risk &amp; Compliance</a></li>
  <li><a href="{% url "users:dashboard" %}">Users</a></li>
  <li><a href="{% url "users:my-profile" %}">My Profile</a></li>
{% endblock nav-menu-items %}

{% block menu-items %}
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon general_journal">
      </div>
      <div class="menu-label">general journal</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon balance_sheet">
      </div>
      <div class="menu-label">balance sheet</div>
    </div>
  </li>
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon pnl_statement">
      </div>
      <div class="menu-label">p&amp;l statement</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon trial_balance">
      </div>
      <div class="menu-label">trial balance</div>
    </div>
  </li>
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon ledgers">
      </div>
      <div class="menu-label">ledgers</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon banking">
      </div>
      <div class="menu-label">banking</div>
    </div>
  </li>
{% endblock menu-items %}

{% block quick-actions %}
  <li class="active">
    <a href="#">add loan account</a>
  </li>
{% endblock quick-actions %}