{% extends "accounting/base.html" %}

{% block menu-items %}
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon loan_accounts">
      </div>
      <div class="menu-label">general journal</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon loan_funds">
      </div>
      <div class="menu-label">balance sheet</div>
    </div>
  </li>
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon loan_transactions">
      </div>
      <div class="menu-label">p&amp;l statement</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon loan_products">
      </div>
      <div class="menu-label">trial balance</div>
    </div>
  </li>
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon loan_accounting">
      </div>
      <div class="menu-label">products</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon loan_reports">
      </div>
      <div class="menu-label">banking</div>
    </div>
  </li>
{% endblock menu-items %}

{% block quick-actions %}
  <li class="active">
    <a href="#">add loan account</a>
  </li>
{% endblock quick-actions %}