{% extends "accounting/base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block fa_pnl_statement %} active{% endblock fa_pnl_statement %}

{% block page-content %}
    <div class="col-lg-12 table-holder">
        <div class="table-cover">
            <h3>Profit/Loss Statement</h3>
            <table class="table table-hover pl_statement">
                <thead>
                    <tr>
                        <th data-column="ledger_code">Ledger Code</th>
                        <th data-column="name">Name</th>
                        <th data-column="balance" style="text-align: right;">Balance (KES)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="font_extra_bold" style="text-transform: uppercase; font-size: 110%; color: #397D94;" colspan="4">Income</td>
                    </tr>
                    {% for account in balance_sheet.income %}
                        <tr class="level{{ account.ledger_level}}">
                            <td class="font_semibold">{{ account.ledger_code }}</td>
                            <td class="font_normal">{{ account.name }}</td>
                            <td class="font_extra_bold" style="text-align: right;">
                                {{ account.balance|default:"0.0" }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr style="font-size: 15.5px;">
                        <td class="font_semibold" style="border-top-width: 3px;"></td>
                        <td class="font_extra_bold" style="border-top-width: 3px;">TOTAL INCOME</td>
                        <td class="font_extra_bold" style=" border-top-width: 3px; text-align: right;"> 0.0 </td>
                    </tr>
                    <tr>
                        <td class="font_extra_bold" style="text-transform: uppercase; font-size: 110%; color: #397D94;" colspan="4">Expense</td>
                    </tr>
                    {% for account in balance_sheet.expense %}
                        <tr class="level{{ account.ledger_level}}">
                            <td class="font_semibold">{{ account.ledger_code }}</td>
                            <td class="font_normal">{{ account.name }}</td>
                            <td class="font_extra_bold" style="text-align: right;">
                                {{ account.balance|default:"0.0" }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr style="font-size: 15.5px;">
                        <td class="font_semibold" style="border-top-width: 3px;"></td>
                        <td class="font_extra_bold" style="border-top-width: 3px;">TOTAL EXPENSES</td>
                        <td class="font_extra_bold" style=" border-top-width: 3px; text-align: right;"> 0.0 </td>
                    </tr>
                    <tr style="font-size: 15.5px;">
                        <td class="font_semibold" style="border-top-width: 3px;"></td>
                        <td class="font_extra_bold" style="border-top-width: 3px;">NET INCOME</td>
                        <td class="font_extra_bold" style=" border-top-width: 3px; text-align: right;"> 0.0 </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock page-content %}
