{% extends "base.html" %}
{% load staticfiles %}

{% block page-title %} CRM {% endblock page-title %}

{% block extracss %}
  <link href="{% static "css/app/crm/dashboard.css" %}" rel="stylesheet">
{% endblock extracss %}

{% block menu-header %}Client Management{% endblock menu-header %}

{% block nav-menu-items %}
  <li><a href="{% url "home:dashboard" %}">Home</a></li>
  <li><a href="{% url "loans:dashboard" %}">Loans</a></li>
  <li class="active"><a href="{% url "crm:dashboard" %}">Clients</a></li>
  <li><a href="{% url "accounting:dashboard" %}">Accounting</a></li>
  <li><a href="{% url "risk:dashboard" %}">Risk &amp; Compliance</a></li>
  <li><a href="{% url "users:dashboard" %}">Users</a></li>
  <li><a href="{% url "users:my-profile" %}">My Profile</a></li>
{% endblock nav-menu-items %}

{% block menu-items %}
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon clients_individuals">
      </div>
      <div class="menu-label">individuals</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon clients_business">
      </div>
      <div class="menu-label">businesses</div>
    </div>
  </li>
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon clients_groups">
      </div>
      <div class="menu-label">groups</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon clients_messages">
      </div>
      <div class="menu-label">messages</div>
    </div>
  </li>
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon clients_campaigns">
      </div>
      <div class="menu-label">campaigns</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon clients_templates">
      </div>
      <div class="menu-label">templates</div>
    </div>
  </li>
{% endblock menu-items %}

{% block quick-actions %}
  <li class="active">
    <a href="#">add individual's credit profile</a>
  </li>
  <li class="active">
    <a href="#">add business' credit profile</a>
  </li>
{% endblock quick-actions %}