{% extends "base.html" %}
{% load staticfiles %}

{% block page-title %} CRM {% endblock page-title %}

{% block extracss %}
  <link href="{% static "css/app/crm/dashboard.css" %}" rel="stylesheet">
{% endblock extracss %}

{% block menu-header %}CRM{% endblock menu-header %}

{% block nav-menu-items %}
  <li><a href="{% url "home:dashboard" %}">Home</a></li>
  <li class="active">
    <a href="{% url "crm:dashboard" %}">CRM</a>
    <span class="badge" style="margin-top: -24px; float: right; background-color: #54BCCA;">3</span>
  </li>
  <li><a href="{% url "loans:dashboard" %}">Loans</a></li>
  <li><a href="{% url "accounting:dashboard" %}">Accounting</a></li>
  <li><a href="{% url "risk:dashboard" %}">Risk &amp; Compliance</a></li>
  <!-- <li><a href="{% url "users:dashboard" %}">Users</a></li> -->
{% endblock nav-menu-items %}

{% block menu-items %}
  <li class="menu-row clearfix">
    <div class="menu-item {% block crm_applications %}{% endblock %}">
      <a href="{% url "crm:applications" %}">
        <div class="menu-icon clients_messages">
        </div>
        <span class="badge font_extra_bold" style="margin-top: 0px; background-color: #FF165D; color: #fff; font-size: 1rem; margin-left: -1rem;">
          3
        </span>
        <div class="menu-label">
          applications
        </div>
      </a>
    </div>
    <div class="menu-item {% block crm_individuals %}{% endblock %}">
      <a href="{% url "crm:individual_profiles" %}">
        <div class="menu-icon clients_individuals">
        </div>
        <div class="menu-label">individuals</div>
      </a>
    </div>
  </li>
  <li class="menu-row clearfix">
    <div class="menu-item {% block crm_businesses %}{% endblock %}">
      <a href="{% url "crm:business_profiles" %}">
        <div class="menu-icon clients_business">
        </div>
        <div class="menu-label">businesses</div>
      </a>
    </div>
    <div class="menu-item {% block crm_groups %}{% endblock %}">
      <a href="{% url "crm:group_profiles" %}">
        <div class="menu-icon clients_groups">
        </div>
        <div class="menu-label">groups</div>
      </a>
    </div>
  </li>
  <li class="menu-row clearfix">
    <div class="menu-item {% block crm_campaigns %}{% endblock %}">
      <a href="{% url "crm:campaigns" %}">
        <div class="menu-icon clients_campaigns">
        </div>
        <div class="menu-label">campaigns</div>
      </a>
    </div>
    <div class="menu-item {% block crm_templates %}{% endblock %}">
      <a href="{% url "crm:templates" %}">
        <div class="menu-icon clients_templates">
        </div>
        <div class="menu-label">templates</div>
      </a>
    </div>
  </li>
{% endblock menu-items %}

{% block quick-actions %}
  <li class="active">
    <a href="#">add individual's credit profile</a>
  </li>
  <li class="active">
    <a href="#">add business' credit profile</a>
  </li>
{% endblock quick-actions %}