{% extends "crm/base.html" %}

{% block crm_groups %} active{% endblock crm_groups %}

{% block page-content %}
    <div class="col-lg-12 table-holder">
        <div class="btn-group pull-right">
            <button class="btn btn-default btn-xs">
                <i class="fa fa-plus-circle"></i>
                <span> Add</span>
            </button>
            <button class="btn btn-default btn-xs">
                <i class="fa fa-search"></i><span> Search</span>
            </button>
            <div class="dropdown pull-right">
                <button style="margin-bottom5px;" class="btn btn-default btn-xs dropdown-toggle filter-button" type="button" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-filter"></i>
                    <span> Filter</span>
                </button>
            </div>
        </div>
        <div class="table-cover">
            <h3>Group Profiles</h3>
            <table class="table table-striped user-list">
                <thead>
                    <tr>
                        <th data-column="name">Name</th>
                        <th data-column="identity_type">Group Type</th>
                        <th data-column="no_of_loans">No of Loans</th>
                        <th data-column="performing_loans">Performing</th>
                        <th data-column="non_performing_loans">Non Performing</th>
                        <th data-column="status">Status</th>
                        <th data-column="date">Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for group_profile in profiles %}
                        <tr>
                            <td style="text-transform: capitalize;">{{ group_profile.name }}</td>
                            <td>{{ group_profile.loan_group_type.name }}</td>
                            <td>{{ group_profile.total_no_of_loans }}</td>
                            <td>{{ group_profile.current_performing_loans }}</td>
                            <td>{{ group_profile.current_non_performing_loans }}</td>
                            <td>{{ group_profile.last_group_status.name }}</td>
                            <td>{{ group_profile.created_at|date:"d/m/Y" }}</td>
                            <td>
                                <div class="pull-right dropdown">
                                    <button class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="true">
                                        <span class="font_extra_bold">ACTION</span>
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Manage User</a></li>
                                        <li><a href="#">Reset Password</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Make Administrator</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Deactivate Account</a></li>
                                        <li><a href="#">Delete Account</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <nav>
            <ul class="pager">
                <li class="previous disabled">
                    <a href="#">
                        <span aria-hidden="true">←</span>
                        <span> Previous Page</span>
                    </a>
                </li>
                <li>
                    <span style="font-size1px;">Page 1 of 1</span>
                </li>
                <li class="next disabled">
                    <a href="#">
                        <span>Next Page </span>
                        <span aria-hidden="true">→</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock page-content %}
