{% extends "base.html" %}
{% load staticfiles %}

{% block page-title %} Users {% endblock page-title %}

{% block extracss %}
  <link href="{% static "css/app/users/dashboard.css" %}" rel="stylesheet">
{% endblock extracss %}

{% block nav-menu-items %}
  <li><a href="{% url "home:dashboard" %}">Home</a></li>
  <li><a href="{% url "loans:dashboard" %}">Loans</a></li>
  <li><a href="{% url "crm:dashboard" %}">Clients</a></li>
  <li><a href="{% url "accounting:dashboard" %}">Accounting</a></li>
  <li><a href="{% url "risk:dashboard" %}">Risk &amp; Compliance</a></li>
  <li class="active"><a href="{% url "users:dashboard" %}">Users</a></li>
  <li><a href="{% url "users:my-profile" %}">My Profile</a></li>
{% endblock nav-menu-items %}

{% block menu-items %}
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon users_users">
      </div>
      <div class="menu-label">users</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon users_roles">
      </div>
      <div class="menu-label">roles</div>
    </div>
  </li>
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon users_loan_officers">
      </div>
      <div class="menu-label">loan officers</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon users_audit_trail">
      </div>
      <div class="menu-label">audit trail</div>
    </div>
  </li>
{% endblock menu-items %}

{% block quick-actions %}
  <li class="active">
    <a href="#">add loan account</a>
  </li>
{% endblock quick-actions %}