{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AjabMFI | {% block page-title %}Dashboard{% endblock page-title %}</title>

    {% block extracss %}
      <link href="{% static "css/app/dashboard.css" %}" rel="stylesheet">
    {% endblock extracss %}
    
  </head>
  <body>
    <nav class="navbar navbar-default navbar-primary">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <strong class="ajab">ajab</strong><span class="mfi">mfi</span>
          </a>
        </div>
        <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
        <div id="navbar" class="clearfix">
          <div class="collapse navbar-collapse" id="collapsable">
            <ul class="nav navbar-nav navbar-right">
              {% block nav-menu-items %}
                <li class="active"><a href="{% url "home:dashboard" %}">Home</a></li>
                <li><a href="{% url "crm:dashboard" %}">CRM</a></li>
                <li><a href="{% url "loans:dashboard" %}">Loans</a></li>
                <li><a href="{% url "accounting:dashboard" %}">Accounting</a></li>
                <li><a href="{% url "risk:dashboard" %}">Risk &amp; Compliance</a></li>
                <li><a href="{% url "users:dashboard" %}">Users</a></li>
                <li><a href="{% url "users:my-profile" %}">My Profile</a></li>
              {% endblock nav-menu-items %}
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <section class="body-area">
      {% block sidebar %}
        <div class="sidebar">
          <div class="sidebar-menu">
            <div class="header">
              <h2>{% block menu-header %}Ajab Capital LTD{% endblock menu-header %}</h2>
            </div>
            <div class="body">
              <ul class="menu">
                {% block menu-items %}
                  <li class="menu-row clearfix">
                    <div class="menu-item {% block mi_dashboard %}{% endblock %}">
                      <a href="{% url "home:dashboard" %}">
                        <div class="menu-icon dashboard">
                        </div>
                        <div class="menu-label">dashboard</div>
                      </a>
                    </div>
                    <div class="menu-item {% block my_pipeline %}{% endblock %}">
                      <a href="{% url "origination:my_pipeline" %}">
                        <div class="menu-icon my_pipeline">
                        </div>
                        <div class="menu-label">Applications</div>
                      </a>
                    </div>
                  </li>
                  <li class="menu-row clearfix">
                    <div class="menu-item {% block notifications %}{% endblock %}">
                      <a href="{% url "home:notifications" %}">
                        <div class="menu-icon notifications">
                        </div>
                        <div class="menu-label">notifications</div>
                      </a>
                    </div>
                    <div class="menu-item {% block search_client %}{% endblock %}">
                      <a href="{% url "crm:search_client" %}">
                        <div class="menu-icon search_client">
                        </div>
                        <div class="menu-label">search client</div>
                      </a>
                    </div>
                  </li>
                  <li class="menu-row clearfix">
                    <div class="menu-item {% block main_menu %}{% endblock %}">
                      <a href="{% url "home:main_menu" %}">
                        <div class="menu-icon main_menu">
                        </div>
                        <div class="menu-label">main menu</div>
                      </a>
                    </div>
                    <div class="menu-item {% block home_reports %}{% endblock %}">
                      <a href="{% url "origination:home_reports" %}">
                        <div class="menu-icon home_reports">
                        </div>
                        <div class="menu-label">reports</div>
                      </a>
                    </div>
                  </li>
                {% endblock menu-items %}
              </ul>
            </div>
            <div class="footer">
              <ul class="quick-actions">
                <li>Quick Actions</li>
                {% block quick-actions %}
                  <li class="active">
                    <a href="#">add loan account</a>
                  </li>
                {% endblock quick-actions %}
              </ul>
            </div>
          </div>
        </div>
      {% endblock sidebar %}
      <div class="main-content">
        {% block page-content %}
        {% endblock page-content %}
      </div>
    </section>
    <footer class="font_semibold">
      {% block footer %}
        &copy; {% now "Y" %} Ajab Capital LTD.
      {% endblock footer %}
    </footer>
    <script type="text/javascript" src="{% static "js/bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    {% block extrajs %}
    {% endblock extrajs %}

    {% block reactjs-scripts %}
      <script src="{% static "js/bower_components/react/react-with-addons.js" %}"></script>
      <script type="text/javascript" src="{% static "js/bower_components/react/JSXTransformer.js" %}"></script>
    {% endblock reactjs-scripts %}

  </body>
</html>
