{% extends "website/base.html" %}

{% load staticfiles %}

{% block extra-css %}
    <link href="{% static "css/web/about_us.css" %}" rel="stylesheet">
{% endblock extra-css%}

{% block sections %}
    <section class="page header">
    	<div class="container">
            <h1 class="black">About US</h1>
        </div>
    </section>
    <section class="page other">
    	<div class="container">
            <p>
                We are a small team of banking technologists innovating around the core-banking system. The team comprises of talent in banking, software development, accounting, sales &amp; marketing and actuaries. We found Ajab Capital with the small-scale Microfinance, Consolidation Groups and SACCO businesses in mind. 
                
            </p>
        </div>
    </section>
{% endblock sections %}