{% extends "website/base.html" %}

{% load staticfiles %}

{% block extra-css %}
    <link href="{% static "css/web/careers.css" %}" rel="stylesheet">
{% endblock extra-css%}

{% block sections %}
    <section class="page header">
    	<div class="container">
            <h1 class="black">Careers</h1>
        </div>
    </section>
    <section class="page other">
    	<div class="container">
            We are looking for people who can help us make a dent in the financial cloud arena. You need to be focused, career oriented, optimist and a team player. You will work hand in hand with other .
        </div>
    </section>
{% endblock sections %}