{% extends "website/base.html" %}

{% load staticfiles %}

{% block sections %}
    <section class="page call">
        <div class="container">
            <div class="body">
                <div class="main-call">
                    cloud based mobile loan platform
                </div>
                <div class="secondary-call">
                    an end-to-end loan and risk management solution for unsecured micro loans. designed for mobile banks, online lenders, sacco’s and microfinance institutions.
                </div>
            </div>
            <div class="footer">
                <div class="row">
                    <a class="btn landing-btn btn-lg" href="{% url "users:signup" %}">Get Started &gt;</a>
                </div>
                <div class="row hidden-xs">
                    <ul class="partners">
                        <li class="partner">
                            <img src="{% static "img/mpesa.png" %}" />
                        </li>
                        <li class="partner">
                            <img src="{% static "img/airtel.png" %}" />
                        </li>
                        <li class="partner">
                            <img src="{% static "img/metropol.png" %}" />
                        </li>
                        <li class="partner">
                            <img src="{% static "img/creditinfo.png" %}" />
                        </li>
                        <li class="partner">
                            <img src="{% static "img/transunion.png" %}" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="page what-we-offer">
        <div class="container">
            <div class="header">
                <h2>What we offer</h2>
            </div>
            <div class="body clearfix">
                <div class="offering">
                    <div class="image">
                        <img src="{% static "img/mobile.png" %}" />
                    </div>
                    <div class="label">
                        Mobile First
                    </div>
                    <div class="text">
                        We are a mobile first company. Meaning all our products are centered around your customer’s mobile phone. Feature or Smatphone.
                    </div>
                    <div></div>
                </div>
                <div class="offering">
                    <div class="image">
                        <img src="{% static "img/risk-based-analytics.png" %}" />
                    </div>
                    <div class="label">
                        Risk Based Analytics
                    </div>
                    <div class="text">
                        We have onboard 3 Credit Reference Bureaus on board to choose from, or combine in the Underwriting process
                    </div>
                    <div></div>
                </div>
                <div class="offering">
                    <div class="image">
                        <img src="{% static "img/powerful-crm.png" %}" />
                    </div>
                    <div class="label">
                        Powerful CRM
                    </div>
                    <div class="text">
                        Access your Customers via campaigns on various digital channels. This includes SMS, Push notifications and even Telegram
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="footer">
                <a class="btn landing-btn btn-lg" href="">Our Platform &gt;</a>
            </div>
        </div>
    </section>
    <section id="our-platform" class="page our-platform hidden">
        <div class="container">
            <div class="header">
                <h2>Our Platform</h2>
                <div class="secondary-text">
                    Our industry solutions involve a combination of services, products and systems
                </div>
            </div>
            <div class="body">
                <div class="modules clearfix hidden-xs hidden-sm">
                    <div class="module-row">
                        <div class="module">
                            <div class="module-initials app">A</div>
                            <div class="module-name">App</div>
                            <div class="module-description">
                                The core module on the platform. Manages: Funds, 
                                Credit Control, Transaction Processing and Users.
                            </div>
                            <div class="module-learn-more">
                                <a href="#">Learn More &gt;</a>
                            </div>
                        </div>
                        <div class="module">
                            <div class="module-initials backoffice">B</div>
                            <div class="module-name">Back Office</div>
                            <div class="module-description">
                                Designed for Manual Operations. 
                                Manage: KYC, Collateral, Underwriting, Appraisal, Disbursement.
                                Reports: Loan Ledger, General Journal.
                            </div>
                            <div class="module-learn-more">
                                <a href="#">Learn More &gt;</a>
                            </div>
                        </div>
                        <div class="module">
                            <div class="module-initials crm">C</div>
                            <div class="module-name">CRM</div>
                            <div class="module-description">
                                The Customer Relation module handles Customer 
                                Data, Communication and Document Management. 
                                This is through SMS, Email and Telegram Bot
                            </div>
                            <div class="module-learn-more">
                                <a href="#">Learn More &gt;</a>
                            </div>
                        </div>
                    </div>
                    <div class="module-row">
                        <div class="module">
                            <div class="module-initials decisioning">CD</div>
                            <div class="module-name">Credit Decisioning</div>
                            <div class="module-description">
                                We provide you an automated underwriting and 
                                appraisal software that can make credit decisions 
                                based on your own decisioning rules.
                            </div>
                            <div class="module-learn-more">
                                <a href="#">Learn More &gt;</a>
                            </div>
                        </div>
                        <div class="module">
                            <div class="module-initials credit-officer">CO</div>
                            <div class="module-name">Credit Officer</div>
                            <div class="module-description">
                                Our credit officer/agent module provides a mobile app 
                                for field-based Agents. Manages KYC, 
                                Appraisal and follow up on Defaulting Loans.
                            </div>
                            <div class="module-learn-more">
                                <a href="#">Learn More &gt;</a>
                            </div>
                        </div>
                        <div class="module">
                            <div class="module-initials compliance-reporting">CR</div>
                            <div class="module-name">Compliance Reporting</div>
                            <div class="module-description">
                                This Module is specially formulated for Microfinance 
                                Banks, or those that are keen on Core Capital 
                                requirements among other KPIs
                            </div>
                            <div class="module-learn-more">
                                <a href="#">Learn More &gt;</a>
                            </div>
                        </div>
                    </div>
                    <div class="module-row">
                        <div class="module">
                            <div class="module-initials debt-collection">DC</div>
                            <div class="module-name">Debt Collection</div>
                            <div class="module-description">
                                Have Bad Debts? Write them Off and we will take it 
                                from there, we will connect you to a debt collector 
                                to help you recover the loans.
                            </div>
                            <div class="module-learn-more">
                                <a href="#">Learn More &gt;</a>
                            </div>
                        </div>
                        <div class="module">
                            <div class="module-initials financial-accounting">FA</div>
                            <div class="module-name">Financial Accounting</div>
                            <div class="module-description">
                                Comprehensive financial accounting and reporting. 
                                It includes a General Ledger, Balance Sheet, the P&amp;L, 
                                and Accounting Consultancy 
                            </div>
                            <div class="module-learn-more">
                                <a href="#">Learn More &gt;</a>
                            </div>
                        </div>
                        <div class="module">
                            <div class="module-initials loan-origination">LO</div>
                            <div class="module-name">Loan Origination</div>
                            <div class="module-description">
                                This module extends the CRM and Core modules, 
                                providing Mobile and Web based channels for your 
                                customers to apply for loans 
                            </div>
                            <div class="module-learn-more">
                                <a href="#">Learn More &gt;</a>
                            </div>
                        </div>
                    </div>
                    <div class="module-row">
                        <div class="module">
                            <div class="module-initials payments">PY</div>
                            <div class="module-name">Payments</div>
                            <div class="module-description">
                                Manages user and bank balances. This module Links up 
                                with M-Pesa, Airtel Money, Paypal and RTGS to ensure seemless
                                transfer of funds to and from the AjabCapital platform. 
                            </div>
                            <div class="module-learn-more">
                                <a href="#">Learn More &gt;</a>
                            </div>
                        </div>
                        <div class="module">
                            <div class="module-initials risk-management">RM</div>
                            <div class="module-name">Risk Management</div>
                            <div class="module-description">
                                We link up with 3 Credit Bureaus to help protect your Loan 
                                Portfolio. Assess and set Risk Metrics for regulation, 
                                insurance and credit control
                            </div>
                            <div class="module-learn-more">
                                <a href="#">Learn More &gt;</a>
                            </div>
                        </div>
                        <div class="module">
                            <div class="module-initials syndicated-loans">SL</div>
                            <div class="module-name">Syndicated Loans</div>
                            <div class="module-description">
                                We arrange financing for your Loan products from various Banks. 
                                We also handle Insurance, Accounting and Reporting.
                            </div>
                            <div class="module-learn-more">
                                <a href="#">Learn More &gt;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a class="btn landing-btn btn-lg" href="">Book a Demo</a>
            </div>
        </div>
    </section>
    <section class="page end-to-end-automation">
        <div class="container">
            <div class="header">
                <h2 class="">
                    Multiple channels of Loan Origination
                </h2>
            </div>
            <div class="body clearfix">
                <div class="messages">
                    <div class="message">Android</div>
                    <div class="message">iOS</div>
                    <div class="message">USSD</div>
                    <div class="message">Web</div>
                    <div class="message">Telegram</div>
                </div>
                <div class="devices">
                </div>
            </div>
            <div class="footer">
            </div>
        </div>
    </section>
{% endblock sections %}