@import "app/base.scss";

.btn-primary{
    background: none;
    background-image: linear-gradient(-90deg, #E18B7B 0%, #DF8778 100%);
    border: none;

    &:hover, 
    &.active, &:active,
    &.focus,  &:focus {
        background: darken(#E18B7B, 10%);
    }
}

.navbar{
    &.navbar-primary{
        #navbar{
            ul.nav{
                li {
                    &.active, 
                    &.focus,
                    &.open {
                        > a {
                            border-bottom: 5px solid #E18B7B;
                        }
                    }
                }
            }

        }
    }
}

section.body-area{
    .sidebar{
        .sidebar-menu{
            .body{
                ul.menu{
                    li.menu-row{
                        .menu-item{
                            .menu-label{
                                @extend %extra-bold;
                                text-transform: uppercase;
                                color: #7e7e7e;
                                margin-top: .5rem;
                                font-size: 13px;
                            }
                            .menu-icon{
                                display: inline-block;
                                width: 32px;
                                height: 32px;
                                background-repeat: no-repeat;
                                
                                &.users_users{
                                    background-image: url("/static/img/icons/ic_users_coloured.png");
                                }
                                &.users_roles{
                                    background-image: url("/static/img/icons/ic_users_roles_coloured.png");
                                }
                                &.users_loan_officers{
                                    background-image: url("/static/img/icons/ic_users_coloured.png");
                                }
                                &.users_audit_trail{
                                    background-image: url("/static/img/icons/ic_audit_trail_coloured.png");
                                }

                                &:hover{
                                    &.users_users{
                                        background-image: url("/static/img/icons/is_users_coloured.png");
                                    }
                                    &.users_roles{
                                        background-image: url("/static/img/icons/is_users_roles_coloured.png");
                                    }
                                    &.users_loan_officers{
                                        background-image: url("/static/img/icons/is_users_coloured.png");
                                    }
                                    &.users_audit_trail{
                                        background-image: url("/static/img/icons/ic_audit_trail_coloured.png");
                                    }
                                }
                            }

                            &:hover{
                                background-image: linear-gradient(-90deg, #E18B7B 0%, #DF8778 100%);
                                cursor: pointer;

                                .menu-label{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            .footer{
                ul.quick-actions{
                    li{ 
                        &.active{
                            padding-left: 1.5rem;
                            border-left: 5px solid #E18B7B;
                        }
                    }
                }
            }
        }
    }
    .main-content{
    }
}
