@import "app/base.scss";

.btn-primary{
    background: none;
    background-image: linear-gradient(-90deg, #2984D3 0%, #3891EB 100%);
    border: none;

    &:hover, 
    &.active, &:active,
    &.focus,  &:focus {
        background: darken(#2984D3, 10%);
    }
}

h4{
    color: #2984D3;
}

.navbar{
    &.navbar-primary{
        #navbar{
            ul.nav{
                li {
                    &.active, 
                    &.focus,
                    &.open {
                        > a {
                            border-bottom: 5px solid #2984D3;
                        }
                    }
                }
            }

        }
    }
}

section.body-area{
    .sidebar{
        .sidebar-menu{
            .body{
                ul.menu{
                    li.menu-row{
                        .menu-item{
                            a{
                                .menu-icon{
                                    display: inline-block;
                                    width: 32px;
                                    height: 32px;
                                    background-repeat: no-repeat;
                                    
                                    &.kyc{
                                        background-image: url("/static/img/icons/ic_kyc_coloured.png");
                                    }
                                    &.policies{
                                        background-image: url("/static/img/icons/ic_policies_coloured.png");
                                    }
                                    &.monitoring{
                                        background-image: url("/static/img/icons/ic_monitoring_coloured.png");
                                    }
                                    &.liquidity{
                                        background-image: url("/static/img/icons/ic_core_capital_coloured.png");
                                    }
                                    &.user_controls{
                                        background-image: url("/static/img/icons/ic_risk_user_control_coloured.png");
                                    }
                                    &.reports{
                                        background-image: url("/static/img/icons/ic_risk_reports_coloured.png");
                                    }
                                }
                            }

                            a:hover, &.active{
                                background-image: linear-gradient(-90deg, #2984D3 0%, #3891EB 100%);
                                cursor: pointer;

                                .menu-label{
                                    color: #fff;
                                }
                                .menu-icon{
                                    &.kyc{
                                        background-image: url("/static/img/icons/ic_kyc_white.png");
                                    }
                                    &.policies{
                                        background-image: url("/static/img/icons/ic_policies_white.png");
                                    }
                                    &.monitoring{
                                        background-image: url("/static/img/icons/ic_monitoring_white.png");
                                    }
                                    &.working_capital{
                                        background-image: url("/static/img/icons/ic_core_capital_white.png");
                                    }
                                    &.user_controls{
                                        background-image: url("/static/img/icons/ic_risk_user_control_white.png");
                                    }
                                    &.reports{
                                        background-image: url("/static/img/icons/ic_risk_reports_white.png");
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .footer{
                ul.quick-actions{
                    li{ 
                        &.active{
                            padding-left: 1.5rem;
                            border-left: 5px solid #2984D3;
                        }
                    }
                }
            }
        }
    }
    .main-content{
    }
}
