{% extends "origination/base.html" %}

{% block my_pipeline %}active{% endblock %}

{% block page-content %}
    <div class="header row">
        <div class="col-md-8 col-sm-9">
            <h3>My Pipeline</h3>
        </div>
    </div>
    <div class="dashboard-row row">
        <div class="dashboard-column col-lg-12">
            <div class="dashboard-inner-row clearfix">
                <div class="col-md-4 col-sm-6 col-lg-2">
                    <div class="well well-sm">
                        <h4>1. Application</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-2">
                    <div class="well well-sm">
                        <h4>2. Appraisal</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-2">
                    <div class="well well-sm">
                        <h4>3. Underwriting</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-2">
                    <div class="well well-sm">
                        <h4>4. Approval</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-2">
                    <div class="well well-sm">
                        <h4>5. Disbursement</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-2">
                    <div class="well well-sm">
                        <h4>6. Disbursement</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row row">
        <div class="dashboard-column">
            <div class="dashboard-inner-row clearfix">
                <div class-"col-lg-12">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock page-content %}