@import "app/base.scss";

.btn-primary{
    background: none;
    background-image: linear-gradient(-90deg, #2984D3 0%, lighten(#2984D3, 10%) 100%);
    border: none;

    &:hover, 
    &.active, &:active,
    &.focus,  &:focus {
        background: lighten(#2984D3, 10%);
    }
}

h4{
    color: darken(#2984D3, 5%);
}

.navbar{
    &.navbar-primary{
        #navbar{
            ul.nav{
                li {
                    &.active, 
                    &.focus,
                    &.open {
                        > a {
                            border-bottom: 5px solid #2984D3;
                        }
                    }
                }
            }

        }
    }
}

section.body-area{
    .sidebar{
        .sidebar-menu{
            .body{
                ul.menu{
                    li.menu-row{
                        .menu-item{
                            a{
                                .menu-icon{
                                    display: inline-block;
                                    width: 32px;
                                    height: 32px;
                                    background-repeat: no-repeat;

                                    &.general_journal{
                                        background-image: url("/static/img/icons/ic_accounting_general_journal_coloured.png");
                                    }
                                    &.balance_sheet{
                                        background-image: url("/static/img/icons/ic_accounting_balance_sheet_coloured.png");
                                    }
                                    &.pnl_statement{
                                        background-image: url("/static/img/icons/ic_pnl_statement_coloured.png");
                                    }
                                    &.trial_balance{
                                        background-image: url("/static/img/icons/ic_trial_balance_coloured.png");
                                    }
                                    &.ledgers{
                                        background-image: url("/static/img/icons/ic_products_accounting_coloured.png");
                                    }
                                    &.banking{
                                        background-image: url("/static/img/icons/ic_accounting_banking_coloured.png");
                                    }
                                }
                            }

                            a:hover, &.active{
                                background-image: linear-gradient(-90deg, #2984D3 0%, lighten(#2984D3, 10%) 100%);
                                cursor: pointer;

                                .menu-label{
                                    color: #fff;
                                }

                                .menu-icon{
                                    &.general_journal{
                                        background-image: url("/static/img/icons/ic_accounting_general_journal_white.png");
                                    }
                                    &.balance_sheet{
                                        background-image: url("/static/img/icons/ic_accounting_balance_sheet_white.png");
                                    }
                                    &.pnl_statement{
                                        background-image: url("/static/img/icons/ic_pnl_statement_white.png");
                                    }
                                    &.trial_balance{
                                        background-image: url("/static/img/icons/ic_trial_balance_white.png");
                                    }
                                    &.ledgers{
                                        background-image: url("/static/img/icons/ic_products_accounting_white.png");
                                    }
                                    &.banking{
                                        background-image: url("/static/img/icons/ic_accounting_banking_white.png");
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .footer{
                ul.quick-actions{
                    li{ 
                        &.active{
                            padding-left: 1.5rem;
                            border-left: 5px solid #2984D3;
                        }
                    }
                }
            }
        }
    }
    .main-content{
        table{
            &.balance-sheet, 
            &.pl_statement  {
                margin-bottom: 6.5rem;

                tbody{
                    tr{
                        text-transform: capitalize;

                        &.level0{
                            font-size: 1.2rem;
                            text-transform: uppercase;
                            @extend %extra-bold;

                            td{
                                border-top-width: 2.4px;
                            }
                        }
                        &.level1{
                            font-size: 1rem;
                            text-transform: uppercase;
                            @extend %semibold;

                            td{
                                border-top-width: 2.3px;
                            }
                        }
                        &.level2{
                            font-size: .94rem;
                            text-transform: uppercase;

                            td{
                                border-top-width: 2.2px;
                            }
                        }
                        &.level3{
                            font-size: .90rem;
                        }
                        &.level4{
                            font-size: .88rem;
                        }
                        &.level4{
                            font-size: .84rem;
                        }
                    }
                }
            }
        }
    }
}
