@import "app/base.scss";

.btn-primary{
    background: none;
    background-image: linear-gradient(-90deg, #E52B50 0%, #CA3E58 100%);
    border: none;

    &:hover, 
    &.active, &:active,
    &.focus,  &:focus {
        background: darken(#E52B50, 10%);
    }
}

h4{
    color: #E52B50;
}

.navbar{
    &.navbar-primary{
        #navbar{
            ul.nav{
                li {
                    &.active, 
                    &.focus,
                    &.open {
                        > a {
                            border-bottom: 5px solid #E52B50;
                        }
                    }
                }
            }

        }
    }
}

section.body-area{
    .sidebar{
        .sidebar-menu{
            .body{
                ul.menu{
                    li.menu-row{
                        .menu-item{
                            a{
                                .menu-icon{
                                    &.loan_accounts{
                                        background-image: url("/static/img/icons/ic_loan_accounts_coloured.png");
                                    }
                                    &.loan_funds{
                                        background-image: url("/static/img/icons/ic_loan_funds_coloured.png");
                                    }
                                    &.loan_transactions{
                                        background-image: url("/static/img/icons/ic_loan_transactions_coloured.png");
                                    }
                                    &.loan_products{
                                        background-image: url("/static/img/icons/ic_loan_products_coloured.png");
                                    }
                                    &.loan_accounting{
                                        background-image: url("/static/img/icons/ic_accounting_coloured.png");
                                    }
                                    &.loan_reports{
                                        background-image: url("/static/img/icons/ic_accounting_reports_coloured.png");
                                    }
                                }
                            }

                            a:hover, &.active{
                                background-image: linear-gradient(-90deg, #E52B50 0%, #CA3E58 100%);
                                cursor: pointer;

                                .menu-label{
                                    color: #fff;
                                }

                                .menu-icon{
                                    &.loan_accounts{
                                        background-image: url("/static/img/icons/ic_loan_accounts_white.png");
                                    }
                                    &.loan_funds{
                                        background-image: url("/static/img/icons/ic_loan_funds_white.png");
                                    }
                                    &.loan_transactions{
                                        background-image: url("/static/img/icons/ic_loan_transactions_white.png");
                                    }
                                    &.loan_products{
                                        background-image: url("/static/img/icons/ic_loan_products_white.png");
                                    }
                                    &.loan_accounting{
                                        background-image: url("/static/img/icons/ic_accounting_white.png");
                                    }
                                    &.loan_reports{
                                        background-image: url("/static/img/icons/ic_accounting_reports_white.png");
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .footer{
                ul.quick-actions{
                    li{ 
                        &.active{
                            padding-left: 1.5rem;
                            border-left: 5px solid #E52B50;
                        }
                    }
                }
            }
        }
    }
    .main-content{
    }
}
