@import "app/loans/base.scss";

section.body-area{
    .main-content{
        .form-holder{
            .header{
                text-align: center;

                h2{
                }
                p{  
                    margin: 1rem auto;
                    min-width: 30rem;
                    max-width: 45rem;
                    color: lighten(#000, 50%);
                }
            }
            .body{
                padding-top: 2rem;

                .form{
                    .form-group{
                        padding-top: 0.5rem;
                        padding-bottom: 1.5rem;

                        border-bottom: 1px solid #f8f8f8;
                        @include clearfix;

                        label{
                            font-weight: normal;
                            text-transform: capitalize;
                            @extend %semibold;
                        }

                        .form-control {
                            border: 1px solid #dfdfdf;
                            box-shadow: none;
                            font-size: 13px;

                            &:focus {
                                box-shadow: none;
                            }
                        }

                    }
                }
            }
        }
    }
}
