{% extends "loan/base.html" %}

{% load staticfiles %}

{% block loan_accounts %} active{% endblock %}

{% block nav-menu-items %}
  <li><a href="{% url "home:dashboard" %}">Home</a></li>
  <li class="active"><a href="{% url "loans:dashboard" %}">Loans</a></li>
  <li><a href="{% url "crm:dashboard" %}">Clients</a></li>
  <li><a href="{% url "accounting:dashboard" %}">Accounting</a></li>
  <li><a href="{% url "risk:dashboard" %}">Risk &amp; Compliance</a></li>
  <li><a href="{% url "users:dashboard" %}">Users</a></li>
  <li><a href="{% url "users:my-profile" %}">My Profile</a></li>
{% endblock nav-menu-items %}
