@import "app/base.scss";

.btn{
    @extend %semibold;
}

.btn-primary{
    background: none;
    background-image: linear-gradient(-90deg, #06AEA7 0%, #20B38C 100%);
    border: none;

    &:hover, 
    &.active, &:active,
    &.focus,  &:focus {
        background: darken(#06AEA7, 10%);
    }
}

.navbar{
    &.navbar-primary{
        #navbar{
            ul.nav{
                li {
                    &.active, 
                    &.focus,
                    &.open {
                        > a {
                            border-bottom: 5px solid #06AEA7;
                        }
                    }
                }
            }

        }
    }
}

section.body-area{
    .sidebar{
        .sidebar-menu{
            .body{
                ul.menu{
                    li.menu-row{
                        .menu-item{
                            a{
                                text-decoration: none;
                                .menu-icon{
                                    &.dashboard{
                                        background-image: url("/static/img/icons/ic_home_dashboard.png");
                                    }
                                    &.my_pipeline{
                                        background-image: url("/static/img/icons/ic_my_pipeline_coloured.png");
                                    }
                                    &.notifications{
                                        background-image: url("/static/img/icons/ic_notifications_black.png");
                                    }
                                    &.search_client{
                                        background-image: url("/static/img/icons/ic_search_client_coloured.png");
                                    }
                                    &.main_menu{
                                        background-image: url("/static/img/icons/ic_apps_coloured.png");
                                    }
                                    &.home_reports{
                                        background-image: url("/static/img/icons/ic_reports_coloured.png");
                                    }
                                }
                            }
                            a:hover, 
                            &.active{
                                background-image: linear-gradient(-90deg, #06AEA7 0%, #20B38C 100%);
                                cursor: pointer;
                                
                                .menu-icon{
                                    background-size: 32px 32px;
                                    
                                    &.dashboard{
                                        background-image: url("/static/img/icons/ic_home_dashboard_white.png");
                                    }
                                    &.my_pipeline{
                                        background-image: url("/static/img/icons/ic_my_pipeline_white.png");
                                    }
                                    &.notifications{
                                        background-image: url("/static/img/icons/ic_notifications_white.png");
                                    }
                                    &.search_client{
                                        background-image: url("/static/img/icons/ic_search_client_white.png");
                                    }
                                    &.main_menu{
                                        background-image: url("/static/img/icons/ic_apps_white.png");
                                    }
                                    &.home_reports{
                                        background-image: url("/static/img/icons/ic_reports_white.png");
                                    }
                                }
                                

                                .menu-label{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            .footer{
                ul.quick-actions{
                    li{ 
                        &.active{
                            padding-left: 1.5rem;
                            border-left: 5px solid #06AEA7;
                        }
                    }
                }
            }
        }
    }
    .main-content{
            margin-left: 0;
    }
}
