{% extends "base.html" %}
{% load staticfiles %}

{% block page-title %} Risk &amp; Compliance {% endblock page-title %}

{% block menu-header %}Risk &amp; Compliance{% endblock menu-header %}

{% block extracss %}
  <link href="{% static "css/app/risk_management/dashboard.css" %}" rel="stylesheet">
{% endblock extracss %}

{% block nav-menu-items %}
  <li><a href="{% url "home:dashboard" %}">Home</a></li>
  <li><a href="{% url "crm:dashboard" %}">CRM</a></li>
  <li><a href="{% url "loans:dashboard" %}">Loans</a></li>
  <li><a href="{% url "accounting:dashboard" %}">Accounting</a></li>
  <li class="active"><a href="{% url "risk:dashboard" %}">Risk &amp; Compliance</a></li>
  <!-- <li><a href="{% url "users:dashboard" %}">Users</a></li> -->
  <li><a href="{% url "users:my-profile" %}">My Profile</a></li>
{% endblock nav-menu-items %}

{% block menu-items %}
  <li class="menu-row clearfix">
    <div class="menu-item {% block risk_kyc %}{% endblock %}">
      <a href="{% url "risk:kyc" %}">
        <div class="menu-icon kyc">
        </div>
        <div class="menu-label">kyc profiles</div>
      </a>
    </div>
    <div class="menu-item {% block risk_monitoring %}{% endblock %}">
      <a href="{% url "risk:watch-list" %}">
        <div class="menu-icon monitoring">
        </div>
        <div class="menu-label">watch list</div>
      </a>
    </div>
  </li>
  <li class="menu-row clearfix">
    <div class="menu-item {% block risk_liquidity %}{% endblock %}">
      <a href="{% url "risk:liquidity" %}">          
        <div class="menu-icon liquidity">
        </div>
        <div class="menu-label">Liquidity</div>
      </a>
    </div>
    <div class="menu-item {% block risk_policies %}{% endblock %}">
      <a href="{% url "risk:policies" %}">
        <div class="menu-icon policies">
        </div>
        <div class="menu-label">policies &amp; limits</div>
      </a>
    </div>
  </li>
  <li class="menu-row clearfix">
    <div class="menu-item {% block risk_decisioning %}{% endblock %}">
      <a href="{% url "risk:kyc" %}">
        <div class="menu-icon user_controls">
        </div>
        <div class="menu-label">Portfolio at Risk</div>
      </a>
    </div>
    <div class="menu-item {% block risk_reports %}{% endblock %}">
      <a href="{% url "risk:kyc" %}">
        <div class="menu-icon reports">
        </div>
        <div class="menu-label">CRB Settings</div>
      </a>
    </div>
  </li>
{% endblock menu-items %}

{% block quick-actions %}
  <li class="active">
    <a href="#">add loan account</a>
  </li>
{% endblock quick-actions %}