{% extends "base.html" %}
{% load staticfiles %}

{% block page-title %} Risk &amp; Compliance {% endblock page-title %}

{% block extracss %}
  <link href="{% static "css/app/risk_management/dashboard.css" %}" rel="stylesheet">
{% endblock extracss %}

{% block nav-menu-items %}
  <li><a href="{% url "home:dashboard" %}">Home</a></li>
  <li><a href="{% url "loans:dashboard" %}">Loans</a></li>
  <li><a href="{% url "crm:dashboard" %}">Clients</a></li>
  <li><a href="{% url "accounting:dashboard" %}">Accounting</a></li>
  <li class="active"><a href="{% url "risk:dashboard" %}">Risk &amp; Compliance</a></li>
  <li><a href="{% url "users:dashboard" %}">Users</a></li>
  <li><a href="{% url "users:my-profile" %}">My Profile</a></li>
{% endblock nav-menu-items %}

{% block menu-items %}
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon kyc">
      </div>
      <div class="menu-label">kyc</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon policies">
      </div>
      <div class="menu-label">policies</div>
    </div>
  </li>
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon monitoring">
      </div>
      <div class="menu-label">monitoring</div>
    </div>
    <div class="menu-item">
      <a href="">
        <div class="menu-icon working_capital">
        </div>
        <div class="menu-label">Liquidity</div>
      </a>
    </div>
  </li>
  <li class="menu-row clearfix">
    <div class="menu-item">
      <div class="menu-icon user_controls">
      </div>
      <div class="menu-label">user controls</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon reports">
      </div>
      <div class="menu-label">reports</div>
    </div>
  </li>
{% endblock menu-items %}

{% block quick-actions %}
  <li class="active">
    <a href="#">add loan account</a>
  </li>
{% endblock quick-actions %}