@import "fonts.scss";

html {
    font-size: 14px;
    @extend .regular;
}

body {
    padding: 0;
    margin: 0;
    font-weight: normal;

    @extend .regular;
}

* {
    font-weight: normal;    
}

section{
    &.page{
        @extend .regular;
    }
}

@mixin linear-gradient($topColor, $bottomColor, $angle:-145deg) {
    background-color: $topColor;
    background-image: -webkit-linear-gradient($angle, $topColor 0%, $bottomColor 100%);
    background-image: -moz-linear-gradient($angle, $topColor 0%, $bottomColor 100%);
    background-image: -ms-linear-gradient($angle, $topColor 0%, $bottomColor 100%);
    background-image: -o-linear-gradient($angle, $topColor 0%, $bottomColor 100%);
    background-image: linear-gradient($angle, $topColor 0%, $bottomColor 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='$topColor', end-colourStr='$bottomColor');
}

ul.horizontal-list{
    list-style-type: none;
    display: inline;

    li{
        float: left;
        margin-right: 10px;
    }  
}