@import "fonts.scss";

html {
    font-size: 14px;
    @extend .regular;
}

body {
    padding: 0;
    margin: 0;
    font-weight: normal;

    @extend .regular;
}

* {
    font-weight: normal;    
}

section{
    &.page{
        @extend .regular;
    }
}

.linear-gradient{
    background-color: #75BE8B;
    background-image: -webkit-linear-gradient(-145deg, #75BE8B 0%, #2B9784 100%);
    background-image: -moz-linear-gradient(-145deg, #75BE8B 0%, #2B9784 100%);
    background-image: -ms-linear-gradient(-145deg, #75BE8B 0%, #2B9784 100%);
    background-image: -o-linear-gradient(-145deg, #75BE8B 0%, #2B9784 100%);
    background-image: linear-gradient(-145deg, #75BE8B 0%, #2B9784 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#75BE8B', end-colourStr='#2B9784');
}

ul.horizontal-list{
    list-style-type: none;
    display: inline;

    li{
        float: left;
        margin-right: 10px;
    }  
}