@import "base.scss";

section{
    &.page{
        &.header{
            height: 12.5rem;
            padding-top: 3.5rem;
            background-color: #58B28D;

            h1 {
                text-align: center; 
                color: #fff; 
                font-size: 27.5px;
                text-transform: uppercase;
            }
        }
        &.other{
            min-height: 40rem;
            padding-top: 2rem;
        }
    }
}